In [3]:
####logistic regression##### 2 classifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [8]:
df2=pd.read_csv('C:\\Users\\Ashok\\Downloads\\prima-indians-diabetes.csv')

In [9]:
df2.head() #1st row is taken as col name

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [10]:
df1=pd.read_csv('C:\\Users\\Ashok\\Downloads\\prima-indians-diabetes.csv',header=None)

In [11]:
df1.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [13]:
colnames=['Preg','Glu','Bp','Sft','Ins','Bmi','Dpf','Age','Class']
df=pd.read_csv('C:\\Users\\Ashok\\Downloads\\prima-indians-diabetes.csv',names=colnames) #file dosent have headers

In [14]:
df.head()

   Preg  Glu  Bp  Sft  Ins   Bmi    Dpf  Age  Class
0     6  148  72   35    0  33.6  0.627   50      1
1     1   85  66   29    0  26.6  0.351   31      0
2     8  183  64    0    0  23.3  0.672   32      1
3     1   89  66   23   94  28.1  0.167   21      0
4     0  137  40   35  168  43.1  2.288   33      1

In [15]:
#check how many healthy and disease

In [85]:
df.groupby('Class').size()

Class
0    500
1    268
dtype: int64

In [37]:
#check diabetes  is independent on 'age'

In [41]:
#split

In [43]:
x=df.drop(['Class'],axis=1)
y=df[['Class']]

In [46]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=2)

In [47]:
xtrain.shape

(537, 8)

In [48]:
ytrain.shape

(537, 1)

In [49]:
xtest.shape

(231, 8)

In [51]:
ytest.shape

(231, 1)

In [54]:
df.shape

(768, 9)

In [55]:
model=LogisticRegression()

In [56]:
model.fit(xtrain,ytrain)

C:\Users\Ashok\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Ashok\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [57]:
ypred=model.predict(xtest)

In [58]:
#calculating overall accuray

In [59]:
metrics.accuracy_score(ytest,ypred)

0.7359307359307359

In [60]:
#confusion matric

In [62]:
cm=metrics.confusion_matrix(ytest,ypred)

In [63]:
cm

array([[138,  17],
       [ 44,  32]], dtype=int64)

In [76]:
ytest.groupby('Class').size()

Class
0    155
1     76
dtype: int64

In [90]:
#ytest.value_counts()

In [93]:
sensitivity=cm[1,1]/cm[1,:].sum()
sensitivity#TPR

0.42105263157894735

In [94]:
Specificity=cm[0,0]/cm[0,:].sum()
Specificity#TNR

0.8903225806451613

In [95]:
#classification report

In [97]:
report=metrics.classification_report(ytest,ypred)

In [98]:
print(report)

              precision    recall  f1-score   support

           0       0.76      0.89      0.82       155
           1       0.65      0.42      0.51        76

   micro avg       0.74      0.74      0.74       231
   macro avg       0.71      0.66      0.67       231
weighted avg       0.72      0.74      0.72       231