In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [2]:
A=pd.DataFrame({'BMI':[12.5,8.2,10.5,15.6,7.5,18.2,17.5,7.6],'Age':[63,60,85,38,45,50,52,65],'Outcome':[1,0,0,1,0,1,1,0]})

In [3]:
A

    BMI  Age  Outcome
0  12.5   63        1
1   8.2   60        0
2  10.5   85        0
3  15.6   38        1
4   7.5   45        0
5  18.2   50        1
6  17.5   52        1
7   7.6   65        0

In [4]:
b1=np.sum((A['BMI']-np.mean(A['BMI']))*(A['Outcome']-np.mean(A['Outcome'])))/np.sum((A['BMI']-np.mean(A['BMI']))**2)

In [5]:
b1

0.10879025239338555

In [6]:
b2=np.sum((A['Age']-np.mean(A['Age']))*(A['Outcome']-np.mean(A['Outcome'])))/np.sum((A['Age']-np.mean(A['Age']))**2)
b2

-0.01766904519198097

In [7]:
#b0=np.sum(A['Outcome'])-b1*np.sum(A['BMI'])-b2*np.sum(A['Age'])
#b0

In [8]:
#b2=np.cov(A['Age'],A['Outcome'],ddof=1)/np.var(A['Age'],ddof=1)
#b2

In [9]:
b0=np.mean(A['Outcome'])-b1*np.mean(A['BMI'])-b2*np.mean(A['Age'])
b0

0.18431175804160693

In [10]:
ypred=1/(1+np.exp(-b0-b1*A['BMI']-b2*A['Age']))
ypred

0    0.606122
1    0.504062
2    0.456297
3    0.770302
4    0.551104
5    0.782593
6    0.763028
7    0.465711
dtype: float64

In [11]:
y2=np.mean(ypred)

In [12]:
A['Outcome']

0    1
1    0
2    0
3    1
4    0
5    1
6    1
7    0
Name: Outcome, dtype: int64

In [13]:
def fn(x):
    a=[]
    for i in x:
        if i>np.mean(x):
            i=1
            a.append(i)
        elif i<np.mean(x):
            i=0
            a.append(i)
    return a

In [14]:
ypred_thresh=[]
for y in ypred:
    if y>np.mean(ypred):
        ypred_thresh.append(1)
    else:
        ypred_thresh.append(0)
print(ypred_thresh)

[0, 0, 0, 1, 0, 1, 1, 0]

In [15]:
x1=fn(ypred)

In [16]:
x1

[0, 0, 0, 1, 0, 1, 1, 0]

In [17]:
from sklearn.metrics import confusion_matrix

In [18]:
A=confusion_matrix(A['Outcome'],x1)

In [19]:
A

array([[4, 0],
       [1, 3]], dtype=int64)